
<div class="section nopadding notopmargin nobg clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
    <div class="row common-height clearfix">
        <div class="col-lg-6 center col-padding" style="background: url('{{ asset('build/front/static/theme/sections/1.jpg') }}') center center no-repeat; background-size: cover;">
            <div>&nbsp;</div>
        </div>

        <div class="col-lg-6 col-padding">
            <div>
                <div style="position: relative;">
                    <div class="heading-block noborder" data-heading="A">
                        <h3 class="nott ls0">{{ 'Qui sommes-nous ?' }}</h3>
                    </div>
                </div>
                <!-- About Us Featured Boxes
                ============================================= -->
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-8 bottommargin">
                        <div class="feature-box fbox-plain">
                            <h3>All over the World</h3>
                            <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 bottommargin">
                        <div class="feature-box fbox-plain">
                            <h3>Fully Customisable</h3>
                            <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8">
                        <div class="feature-box fbox-plain">
                            <h3>Helpfull Documentation</h3>
                            <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>