<div class="section nobg nobottommargin clearfix">
    <div class="container clearfix">
        <div class="heading-block center noborder" data-heading="O">
            <h3 class="nott ls0">{{ 'NOUS SOMMES FIERS DE TRAVAILLER AVEC'|capitalize }}</h3>
        </div>
    </div>
    <!-- Portfolio Items
    ============================================= -->
    <div id="portfolio" class="portfolio grid-container portfolio-nomargin clearfix">
        {% for i in 1..8 %}
        <article class="portfolio-item pf-media pf-icons">
            <div class="portfolio-image">
                <a href="#">
                    <img src="{{ asset('build/front/static/theme/portfolio/'~ i ~'.jpg') }}" alt="Open Imagination">
                </a>
                <div class="portfolio-overlay">
                    <div class="portfolio-desc">
                        <h3><a href="#">Open Imagination{{ i }}</a></h3>
                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div><!-- #portfolio end -->
</div>