<div class="section nobg notopmargin clearfix">
    <div class="container clearfix">

        <div class="col_one_third">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Responsive Layout</h3>
                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
            </div>
        </div>

        <div class="col_one_third">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Retina Ready Graphics</h3>
                <p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
            </div>
        </div>

        <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Powerful Performance</h3>
                <p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">HTML5 Video</h3>
                <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
            </div>
        </div>

        <div class="col_one_third">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Parallax Support</h3>
                <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
            </div>
        </div>

        <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Endless Possibilities</h3>
                <p>Complete control on each &amp; every element that provides endless customization possibilities.</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third bottommargin">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Light &amp; Dark Color Schemes</h3>
                <p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
            </div>
        </div>

        <div class="col_one_third bottommargin">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Boxed &amp; Wide Layouts</h3>
                <p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
            </div>
        </div>

        <div class="col_one_third bottommargin col_last">
            <div class="feature-box fbox-plain">
                <h3 class="nott t600 ls0">Extensive Documentation</h3>
                <p>We have covered each &amp; everything in our Documentation including Videos &amp; Screenshots.</p>
            </div>
        </div>

        <div class="clear line"></div>

        <div class="row topmargin-lg clearfix">
            <div class="col-lg-6 nopadding">
                <!-- Youtube Video Link
                ============================================= -->
                <a href="https://www.youtube.com/watch?v=NS0txu_Kzl8" data-lightbox="iframe">
                    <img src="{{ asset('build/front/static/theme/sections/video.jpg') }}" alt="Youtube Video" class="image_fade" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
                    <i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
                </a>
            </div>
            <!-- Video Texts
            ============================================= -->
            <div class="col-lg-6" style="padding-left: 60px;">
                <div class="heading-block topmargin-sm bottommargin-sm noborder">
                    <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">A small Video from Our Customers.</h3>
                </div>
                <p class="t400">Interactively facilitate.<br>Tactical systems with compelling materials. Objectively re-engineer diverse relationships long-term impact methodologies.</p>
                <h5 class="nobottommargin t600">&middot; SemiColonWeb - Author, Themeforest Market. <a href="#"><img src="{{ asset('build/front/static/theme/tf-logo.png') }}" height="18" alt="" style="margin-left: 4px"></a></h5>
                <a href="#" class="button-link bottommargin">Read More</a>
            </div>
        </div>
    </div>
</div>