<div class="container topmargin clearfix">

    <!-- What We Do
    ============================================= -->
    <div class="heading-block center noborder" data-heading="W">
        <h3>{{ 'Ce que nous faisons'|capitalize }}</h3>
    </div>
    <div class="row clearfix">
        <div class="center col-lg-8 offset-lg-2 bottommargin">
            <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">Canvas is a Powerful, Responsive &amp; Raw Multi-Purpose Multi-Page &amp; One-Page HTML5 Template. Build whatever you like with this Template. Be it <span class="t-rotate color">Business,Corporate,Medical,Travel,Construction,Real Estate,Media Agency,Portfolio,Restaurant,Magazine,Wedding,Christmas,Blog,App Showcase</span><br> just everything is possible with Canvas.</h3>
        </div>

        <div class="clear"></div>

        <!-- Features colomns
        ============================================= -->
        <div class="row clearfix">
            <div class="col-lg-4 bottommargin-sm">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="#"><img class="image_fade" src="{{ asset('build/front/static/theme/featured/1.jpg') }}" alt="Featured Box Image"></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">Retina Ready Display<span class="subtitle font-secondary t300 ls0">Globally parallel task premium infomediaries</span></h3>
                        <a href="#" class="button-link noborder color">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 bottommargin-sm">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="#"><img class="image_fade" src="{{ asset('build/front/static/theme/featured/2.jpg') }}" alt="Featured Box Image"></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">Ultra Responsive Design<span class="subtitle font-secondary t300 ls0">Energistically visualize market-driven.</span></h3>
                        <a href="#" class="button-link noborder color">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 bottommargin-sm">
                <div class="feature-box media-box fbox-bg">
                    <div class="fbox-media">
                        <a href="#"><img class="image_fade" src="{{ asset('build/front/static/theme/featured/3.jpg') }}" alt="Featured Box Image"></a>
                    </div>
                    <div class="fbox-desc">
                        <h3 class="nott ls0 t600">1000+ HTML Pages Included<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                        <a href="#" class="button-link noborder color">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
