<!-- Slider
============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('{{ asset('build/static/theme/slider/1.jpg') }}'); background-size: cover">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary nott">Creative Work.</h2>
                            <p class="t300 font-primary d-none d-sm-block">Quickly communicate bleeding-edge best practices.</p>
                            <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url('{{ asset('build/static/theme/slider/2.jpg') }}'); background-size: cover">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary">Amazing Prospects.</h2>
                            <p class="t300 font-primary d-none d-sm-block">Seamlessly engineer effective synergy after e-business experiences.</p>
                            <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url('{{ asset('build/static/theme/slider/3.jpg') }}'); background-size: cover">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="font-primary">Flexible Works.</h2>
                            <p class="t300 font-primary d-none d-sm-block">Completely incubate worldwide users before imperatives.</p>
                            <a href="#" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Arrows
            ============================================= -->
            <div class="slider-arrow-left nobg"><i class="icon-line-arrow-left"></i></div>
            <div class="slider-arrow-right nobg"><i class="icon-line-arrow-right"></i></div>
        </div>

        <!-- Slider Mouse Icon
        ============================================= -->
        <a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="{{ asset('build/front/static/theme/mouse.svg') }}" alt="" ></a>
    </div>

</section>
